/* indt blue: #00b2d1 */
/* indt green: #00B262 */

.pagination-newbook-container nav{
    float: left;
}

.pagination-newbook-container button{
    float: right;
    margin-top: 40px;
}

table th{
    color: #337ab7;
}

table th, table td{
    text-align: center;
}

table td:last-of-type{
    width: 125px;
    text-align: right;
}

table tr:first-child {
    background-color: #f1f1f1;
}

span.glyphicon{
    top: 4px;
}

p[ng-message]{
    color: red;
}